<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/data/mongo
       http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <context:annotation-config/>
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/teamnote?useSSL=false"/>
        <property name="username" value=""/>
        <property name="password" value=""/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>/orm/Auth.hbm.xml</value>
                <value>/orm/NotebookInfo.hbm.xml</value>
                <value>/orm/UserInfo.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
                hibernate.hbm2ddl.auto=update
                hibernate.show_sql=true
                hibernate.format_sql=true
            </value>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <mongo:mongo id="mongo" host="localhost" port="27017"/>

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongo" ref="mongo" />
        <constructor-arg name="databaseName" value="teamnote" />
    </bean>

    <bean id="notebookInfoDao" class="dao.mysqlDao.impl.NotebookInfoDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="userInfoDao" class="dao.mysqlDao.impl.UserInfoDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="authDao" class="dao.mysqlDao.impl.AuthDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="commentDao" class="dao.mongodbDao.impl.CommentDaoImpl">
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>
    <bean id="groupChatDao" class="dao.mongodbDao.impl.GroupChatDaoImpl">
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>
    <bean id="letterDao" class="dao.mongodbDao.impl.LetterDaoImpl">
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>
    <bean id="notebookDao" class="dao.mongodbDao.impl.NotebookDaoImpl">
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>
    <bean id="noteDao" class="dao.mongodbDao.impl.NoteDaoImpl">
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>
    <bean id="noticeDao" class="dao.mongodbDao.impl.NoticeDaoImpl">
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>
    <bean id="suggestionDao" class="dao.mongodbDao.impl.SuggestionDaoImpl">
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>
    <bean id="tagDao" class="dao.mongodbDao.impl.TagDaoImpl">
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>
    <bean id="userDao" class="dao.mongodbDao.impl.UserDaoImpl">
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>
    <bean id="verifyDao" class="dao.mongodbDao.impl.VerifyDaoImpl">
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>
    <bean id="ruleDao" class="dao.mongodbDao.impl.RuleDaoImpl">
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>
</beans>