<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns="http://www.springframework.org/schema/security">


    <http auto-config="true">
        <access-denied-handler error-page="/403.jsp"/>
        <intercept-url pattern="/auth.jsp" access="permitAll"/>
        <intercept-url pattern="/404.jsp" access="permitAll"/>
        <intercept-url pattern="/403.jsp" access="permitAll"/>
        <intercept-url pattern="/admin.jsp" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/*.jsp" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/cooperate/**" access="hasRole('ROLE_USER')"/>
        <form-login
                username-parameter="username"
                password-parameter="password"
                authentication-failure-url="/auth.jsp?login=error"
                default-target-url="/index.jsp"
                login-processing-url="/login"
                login-page="/auth.jsp"
                authentication-success-handler-ref="customAuthenticationSuccessHandler"/>
        <logout invalidate-session="true"
                logout-success-url="/index.jsp"
                logout-url="/logout"/>
        <csrf disabled="true"/>
        <remember-me key="teamnote"/>
    </http>

    <beans:bean id="encoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder">
        <beans:constructor-arg name="secret" value="my-secret-key"/>
    </beans:bean>

    <beans:bean id="customAuthenticationSuccessHandler" class="auth.CustomSimpleUrlAuthenticationSuccessHandler" />

    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service
                    authorities-by-username-query="select username, role from UserInfo where username = ?"
                    users-by-username-query="select username, password, 1 from UserInfo where username = ?"
                    data-source-ref="dataSource"/>
            <password-encoder ref="encoder"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>