body {
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
}

a:hover {
    text-decoration: inherit;
}

.navbar-toggleable-md {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-right: 150px;
    background: #FFFFFF;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
    color: #4A90E2;
    font-weight: bold;
    font-size: 24px;
}

.btn-navbar-collapse {
    margin-right: 150px;
    margin-top: 8px;
}

.nav-item > .nav-link,
.nav-item > .nav-link:focus {
    color: #000000;
}

.navbar-nav .nav-link:hover {
    color: #4A90E2;
}

.container .card {
    margin: 20px auto;
}

.container-card {

}

.container-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-brand-center {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-offcanvas {
    top: 60px;
}

.navbar-offcanvas.in {
    box-shadow: none;
}

.navbar-default .navbar-offcanvas {
    background-color: #FFFFFF;
}

.sidebar-btn .btn {
    width: 105px;
    margin-bottom: 10px;
}

.workgroup-btn .btn {
    width: 140px;
    margin-bottom: 10px;
}

.navbar-offcanvas > .pre-scrollable {
    max-height: 65%;
}

.button img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.img-50px {
    width: 50px;
    height: 50px;
}

.img-75px {
    width: 75px;
    height: 75px;
}

.img-100px {
    width: 100px;
    height: 100px;
}

.img-150px {
    width: 150px;
    height: 150px;
}

.btn:hover {
    cursor: pointer;
}

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
}

.btn-back {
    width: 45px;
    height: 45px;
    float: right;
    border: none;
}

.btn-notebook {
    float: right;
    margin-top: 10px;
}

footer .btn-outline-secondary:hover,
footer .btn-outline-secondary.active {
    color: #4A90E2;
    background-color: inherit;
}

footer .btn .active {
    color: #4A90E2;
}

footer .btn.active:hover,
footer .btn.active:visited {
    color: #CCCCCC;
}


.dropdown-menu .username:active {
    color: inherit;
    background-color: inherit;
}

.dropdown-menu .username:hover {
    background-color: inherit;
}

.left-sidebar .active {
    border-left: #4A90E2;
}

.bar-note a {
    color: #999999;
}

.bar-note:hover {
    background-color: #EFEFEF;

}

.bar-note > .active {
    color: #4A90E2;
    text-decoration: none;
}

.none {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.none:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #4A90E2;
}

.none:focus {
    box-shadow: none;
}

.nav-tabs .nav-link.active {
    border-top: 3px solid #4A90E2;
}

a.nav-item.nav-link {
    color: #000000;
}

a.nav-item.nav-link:hover {
    color: #4A90E2;
}

.card-danger-kai {
    color: #D0021B;
}

@font-face {
    font-family: 'Nanum Brush Script';
    src:url('../fonts/NanumBrushScript-Regular.ttf');
    src:url('../fonts/NanumBrushScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.nbs {
    display: inline-block;
    font: normal normal normal 14px/1 'Nanum Brush Script';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.file-chooser {
    position:absolute;
    width: 150px;
    cursor: pointer;
    top: 0;
    left: 0;
    opacity: 0.0001;
    height: 38px;
}

.file-chooser:hover {
    cursor: inherit;
}

.file-chooser-label {
    width: 150px;
    margin-top: 10px;
    cursor: pointer;
}

.file-chooser-label:hover {
    cursor: inherit;
}

.btn-file-upload {
    margin-top: 10px;
}

.no-more-record {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #DADADA;
    text-align: center;
}

.more-record {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #000000;
    text-align: center;
    border: none;
}

.more-record:hover {
    text-decoration: inherit;
    color: #4A90E2;
}

div.col-md-7 > p a {
    color: #636C72;
}

div.col-md-7 > p a:hover {
    color: #4A90E2;
    text-decoration: inherit;
}

div.col-md-7 > p a:focus {
    color: #636C72;
    text-decoration: inherit;
}

.user-card {
    display: inline-block;
    margin-top: 1.25rem !important;
    margin-bottom: 0 !important;
}

.btn-user-card {
    margin-top: 20px;
    margin-right: 40px;
}

.card-username,
.card-username:hover {
    color: #000000;
}

.info-follow {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 65px;
}

.activity-label {
    color: lightgrey;
    margin-bottom: 0;
}

.activity-target,
.activity-target:hover {
    color: #000000;
}

.notebook-title,
.notebook-title:hover {
    color: #000000;
}

.notebook-username,
.notebook-username:hover {
    color: #000000;
}

.notebook-tag,
.notebook-tag:hover {
    color: #000000;
}

.custom-select {
    height: 46px;
    width: 100px;
}